

<div id="preloader">
    <div data-loader="circle-side"></div>
</div><!-- /Page Preload -->

<div class="layer"></div><!-- Opacity Mask -->

<header class="reveal_header bg-white text-black" style="color: black;" >
    <div class="container">
        <div class="row align-items-center">
             <div class="col-6">
                    <a href="/" class="logo_normal"><img src="/img/Group 1.png" width="160" height="100" alt=""></a>
                    <a href="/" class="logo_sticky"><img src="/img/Group 1.png" width="135" height="45" alt=""></a>
            </div>
            <div class="col-6">
                <nav>
                    <ul>
                      
                        <li class=" md:inline-block hidden"><a onclick="popup('women-startup-summit-2023-312203');" class="btn_1 btn_scrollto cursor-pointer ">Book Now</a></li>
                        <li>
                           <div class="hamburger_2 open_close_nav_panel"style="color: black;"  >
                                <div class="hamburger__box" style="color: black;" >
                                    <div class="hamburger__inner" style="color: black;" ></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div><!-- /container -->
</header><!-- /Header -->

<div class="nav_panel">
    <a href="#" class="closebt open_close_nav_panel"><i class="bi bi-x"></i></a>
    <div class="logo_panel"><img src="/img/wss-5.0.png" width="135" height="45" alt=""></div>
    <div class="sidebar-navigation">
        <nav>
            <ul class="level-1">
                <li><a href="/">Home</a></li>
                <li><a href="https://2022.womenstartupsummit.com/" target="_blank">Women Startup Summit 2022</a></li>
                <!-- <li><a href="https://2021.womenstartupsummit.com/" target="_blank">Women Startup Summit 2021</a></li> -->
                <li><a href="/shelovetech" target="_blank">Shelovestech 2023</a></li>
                <li><a href="https://womenstartupsummit.com/shelovestech2022/" target="_blank">Shelovestech 2022</a></li>

               
            </ul>
            <div class="panel_footer">
                <div class="phone_element"><a onclick="popup('women-startup-summit-2023-312203');" class=" cursor-pointer"><span>Book Now</span></a></div>
            </div>
        </nav>
    </div>
</div>

